.hubble-ui-network-policy-controls {
  position: relative;

  .hubble-ui-network-policy-controls-popup {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 8pt;
    text-justify: auto;
    position: absolute;
    background: white;
    top: 20%;
  }


  .hubble-ui-network-policy-controls-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .hubble-ui-network-policy-controls-close-button:hover {
    background-color: #cc0000;
  }
}
